In [5]:
! python -m pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp310-cp310-win_amd64.whl (11.6 MB)
     ---------------------------------------- 11.6/11.6 MB 7.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\artem\appdata\roaming\python\python310\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
     ------------------------------------- 505.5/505.5 KB 10.5 MB/s eta 0:00:00
Collecting numpy>=1.22.4
  Downloading numpy-1.26.4-cp310-cp310-win_amd64.whl (15.8 MB)
     ---------------------------------------- 15.8/15.8 MB 7.0 MB/s eta 0:00:00
Collecting tzdata>=2022.7
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
     ------------------------------------- 345.4/345.4 KB 10.8 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\artem\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

  WARNING: The script f2py.exe is installed in 'c:\Users\Artem\AppData\Local\Programs\Python\Python310\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
WARNING: You are using pip version 22.0.4; however, version 24.0 is available.
You should consider upgrading via the 'c:\Users\Artem\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

# Generating portfolios for users

In [22]:
import pandas as pd
df = pd.read_csv("users.csv")

In [23]:
df. head()

,user_id,username,first_name,last_name,email,phone
0,1,coolguy123,John,Smith,john.smith@example.com,555-123-4567
1,2,soccerfanatic,Emily,Johnson,emily.johnson@example.com,555-987-6543
2,3,techwizard22,David,Brown,david.brown@example.com,555-456-7890
3,4,musiclover,Sarah,Davis,sarah.davis@example.com,555-234-5678
4,5,bookworm88,Michael,Wilson,michael.wilson@example.com,555-876-5432

In [24]:
portfolios = [(id, -1.0, id) for id, user, name, last_name, email, phone in df.values]
portfolios_df = pd.DataFrame(portfolios, columns=['portfolio_id','valuation', 'user_id'])

In [25]:
portfolios_df.head()

   portfolio_id  valuation  user_id
0             1       -1.0        1
1             2       -1.0        2
2             3       -1.0        3
3             4       -1.0        4
4             5       -1.0        5

In [26]:
portfolios_df.to_csv("portfolios.csv", index=False)

# Generating assets for user portfolios

In [32]:
import random
assets = [(int(portfolio_id), 0, random.randint(1, 100)*1000) for portfolio_id, valuation, user_id in portfolios_df.values]
assets_df = pd.DataFrame(assets, columns=['portfolio_id','fi_id', 'asset_qty'])

In [33]:
assets_df.head()

   portfolio_id  fi_id  asset_qty
0             1      0      18000
1             2      0      45000
2             3      0      30000
3             4      0      50000
4             5      0      35000

In [34]:
assets_df.to_csv("assets.csv", index=False)

# Generating trades for user portfolios

In [49]:
import random
import time

start = "2022-09-20 13:00:00"
end = "2023-09-20 13:00:00"
time_format = '%Y-%m-%d %H:%M:%S'
stime = time.mktime(time.strptime(start, time_format))
etime = time.mktime(time.strptime(end, time_format))
trade_id = 0

trades = []
for portfolio_id, fi_id, asset_qty in assets_df.values:
    prop = random.random()
    ptime = stime + prop * (etime - stime)
    trade_id += 1
    trades .append((trade_id, portfolio_id, time.strftime(time_format, time.localtime(ptime)), 2, 0, asset_qty, 1.0, asset_qty))

trades_df = pd.DataFrame(trades, columns=['trade_id', 'portfolio_id', 'trade_date', 'type_id', 'fi_id', 'trade_qty', 'price', 'total'])

In [50]:
trades_df.head()

,trade_id,portfolio_id,trade_date,type_id,fi_id,trade_qty,price,total
0,1,1,2023-09-11 23:52:19,2,0,18000,1.0,18000
1,2,2,2022-11-17 12:46:51,2,0,45000,1.0,45000
2,3,3,2022-10-23 10:03:04,2,0,30000,1.0,30000
3,4,4,2023-05-25 10:05:30,2,0,50000,1.0,50000
4,5,5,2023-02-20 19:27:10,2,0,35000,1.0,35000

In [51]:
trades_df.to_csv("trades_deposit.csv", date_format='%Y-%m-%d %H:%M:%S', index=False)